body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;

	-o-user-select: none;
	user-select: none;
}

nav {
	width: 70em;
	padding: 2em;
	padding: 2em 10em 0 10em;
	background-image: linear-gradient(to right, #fff 0%, rgba(255, 139, 0, .5) 50%, #fff 100%);	
	background-size: 100% 0.125em;
	background-repeat: no-repeat;
	background-position: 0 100%;
}

#icon_box {
	width: 200px;
	margin-right: 4em;
}

#icon {
	width: 100%;
}

nav > a {
	margin-left: 2em;
	margin-right: 2em;
	text-decoration: none;
	display: inline-block;
}

.bigBox {
	width: 70em;
	margin: 0 auto;
}

a:link {
	color: orange;
}

a:visited {
	color: orange;
}

.menue {
	line-height: 94px;
	vertical-align: middle;
}

.content {
	/*border: solid 1px black;*/
	position: relative;
	width: 47.2em;
	vertical-align: middle;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	background-image: linear-gradient(to right, #fff 0%, rgba(255, 139, 0, .5) 50%, #fff 100%);	
	background-size: 100% 0.125em;
	background-repeat: no-repeat;
	background-position: 0 100%;

	margin-bottom: 2em;
}

 html, body { 
 	position: relative; 
 	height: 100%; 
 	width: 100%; 
 }

.content > div > div, .fullSingle {
 	border: solid 2px #EDEDED;
 }

 .fullSingle {
 	margin-top: 8em;
 	width: 100%;
 	height: 8em;
 	padding: 1em;
 	text-align: center;
 }

 .halfSingle {
 	width: 100%;
 	height: 8em;
 	padding: 1em;
 	text-align: center;
 }

 .halfDouble {
 	width: 100%;
 	height: 16em;
 	padding: 1em;
 	text-align: center;
 }

 .half {
 	width: 50%;
 	height: 32em;
 	text-align: center;
 	border: 0px;
 }

#rightDouble {
	background-image: url(img/block_normal.png);
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;

	transition: .25s;
	transition-timing-function: ease-in-out;
	transition-property: background-image, border-color;

	color: transparent;
}

#rightDouble:hover {
    background-image: url(img/block_normal_single.png);
    border-color: orange;
	color: orange;
}

#leftDouble {
	background-image: url(img/usage_gray_small.png);
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;

	transition: .25s;
	transition-timing-function: ease-in-out;
	transition-property: background-image, border-color;
}

#leftDouble:hover {
    background-image: url(img/usage_color_small.png);
    border-color: orange;
}

#lowerText {
	padding-top: 8.5em;
}

 *, *::after, *::before {
  	box-sizing: border-box;
}

body::after { 
	display: none; 
	content: url(img/usage_color_small.png) url(img/block_normal_single.png); 
}
